body {
  font-family: "Gill Sans";
  background-color: #e8e0ca;
  text-align: center;
  color:  black;
}

a {
  text-decoration: none;
  color: darksalmon;
}

img {
 display: block;
 width: 200px
}

#div-id {
  color: crimson;
} 
